In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df_oecd= pd.read_csv('E:/Python Projects/shohreh/Shohreh_GitHub_Repository/Data-Analysis-And-Machine-Learning-Projects/4. Public health and safety/LifeSatisfaction/oecd_bli_2015.csv', thousands=',')

In [3]:
df_oecd.head(2)

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,1.1,E,Estimated value
1,AUT,Austria,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,1.0,NaN,NaN

In [4]:
life_sat_total = df_oecd[df_oecd["INEQUALITY"]=="TOT"]
life_sat_total = life_sat_total.pivot(index="Country", columns="Indicator", values="Value")
life_sat_total.head(2)

Indicator,Air pollution,Assault rate,Consultation on rule-making,Dwellings without basic facilities,Educational attainment,Employees working very long hours,Employment rate,Homicide rate,Household net adjusted disposable income,Household net financial wealth,...,Long-term unemployment rate,Personal earnings,Quality of support network,Rooms per person,Self-reported health,Student skills,Time devoted to leisure and personal care,Voter turnout,Water quality,Years in education
Country,,,,,,,,,,,,,,,,,,,,,
Australia,13.0,2.1,10.5,1.1,76.0,14.02,72.0,0.8,31588.0,47657.0,...,1.08,50449.0,92.0,2.3,85.0,512.0,14.41,93.0,91.0,19.4
Austria,27.0,3.4,7.1,1.0,83.0,7.61,72.0,0.4,31173.0,49887.0,...,1.19,45199.0,89.0,1.6,69.0,500.0,14.46,75.0,94.0,17.0

In [5]:
df_gdp_capital= pd.read_csv('E:/Python Projects/shohreh/Shohreh_GitHub_Repository/Data-Analysis-And-Machine-Learning-Projects/4. Public health and safety/LifeSatisfaction/gdp_per_capita.csv', delimiter= '\t', encoding= 'latin1', thousands=',')

In [6]:
df_gdp_capital.rename(columns={"2015" : 'GDP per capital (USD)'}, inplace= True)
df_gdp_capital.set_index('Country')
df_gdp_capital.head(2)

,Country,Subject Descriptor,Units,Scale,Country/Series-specific Notes,GDP per capital (USD),Estimates Start After
0,Afghanistan,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",599.994,2013.0
1,Albania,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",3995.383,2010.0

In [12]:
full_country_stats = pd.merge(left=life_sat_total, right=df_gdp_capital, on= 'Country')

In [18]:
df = pd.DataFrame({
    'Country': full_country_stats['Country'],
    'Life satisfaction': full_country_stats['Life satisfaction'],
    'GDP per capital (USD)': full_country_stats['GDP per capital (USD)']
})

In [19]:
df

            Country  Life satisfaction  GDP per capital (USD)
0         Australia                7.3              50961.865
1           Austria                6.9              43724.031
2           Belgium                6.9              40106.632
3            Brazil                7.0               8669.998
4            Canada                7.3              43331.961
5             Chile                6.7              13340.905
6    Czech Republic                6.5              17256.918
7           Denmark                7.5              52114.165
8           Estonia                5.6              17288.083
9           Finland                7.4              41973.988
10           France                6.5              37675.006
11          Germany                7.0              40996.511
12           Greece                4.8              18064.288
13          Hungary                4.9              12239.894
14          Iceland                7.5              50854.583
15          Ireland                7.0              51350.744
16           Israel                7.4              35343.336
17            Italy                6.0              29866.581
18            Japan                5.9              32485.545
19            Korea                5.8              27195.197
20       Luxembourg                6.9             101994.093
21           Mexico                6.7               9009.280
22      Netherlands                7.3              43603.115
23      New Zealand                7.3              37044.891
24           Norway                7.4              74822.106
25           Poland                5.8              12495.334
26         Portugal                5.1              19121.592
27           Russia                6.0               9054.914
28  Slovak Republic                6.1              15991.736
29         Slovenia                5.7              20732.482
30            Spain                6.5              25864.721
31           Sweden                7.2              49866.266
32      Switzerland                7.5              80675.308
33           Turkey                5.6               9437.372
34   United Kingdom                6.8              43770.688
35    United States                7.2              55805.204